
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Gestor de Campañas</title>

    <!-- Custom fonts for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css" rel="stylesheet">
    <style>
        #snackbar {
            visibility: hidden;
            min-width: 250px;
            margin-left: -125px;
            background-color: #333;
            color: #fff;
            text-align: center;
            border-radius: 2px;
            padding: 16px;
            position: fixed;
            z-index: 1;
            left: 50%;
            bottom: 30px;
            font-size: 17px;
        }

        #snackbar.show {
            visibility: visible;
            -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
            animation: fadein 0.5s, fadeout 0.5s 2.5s;
        }

        @-webkit-keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @keyframes fadein {
            from {bottom: 0; opacity: 0;}
            to {bottom: 30px; opacity: 1;}
        }

        @-webkit-keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }

        @keyframes fadeout {
            from {bottom: 30px; opacity: 1;}
            to {bottom: 0; opacity: 0;}
        }
    </style>
</head>

<body id="page-top">

<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar" style="background-color: #01579b !important;">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Caja Piura</div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Addons
        </div>

        <!-- Nav Item - Charts -->
        <li class="nav-item">
            <a class="nav-link" href="charts.html">
                <i class="fas fa-fw fa-chart-area"></i>
                <span>Estadísticas</span></a>
        </li>

        <!-- Nav Item - Tables -->
        <li class="nav-item">
            <a class="nav-link" href="tables.html">
                <i class="fas fa-fw fa-table"></i>
                <span>Tables</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">


    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="app">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                <!-- Sidebar Toggle (Topbar) -->
                <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                    <i class="fa fa-bars"></i>
                </button>

                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">

                    <!-- Nav Item - User Information -->
                    <li class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-800 small">{{correo}}</span>
                            <i class="fas fa-fingerprint"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Campañas</h1>
                </div>

                <div class="row">
                    <!-- Earnings (Monthly) Card Example -->
                    <div class="col-xl-3 col-md-6 mb-4" style="cursor: pointer"  v-for="camp in campanias" v-if = "camp.STATUS == '1'" @click="selectCampania(camp)">
                        <div class="card border-left-info shadow h-100 py-2">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{camp.TITULO_CAMPANA}}</div>
                                        <div class="row no-gutters align-items-center">
                                            <div class="col-auto">
                                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                                            </div>
                                            <div class="col">
                                                <div class="progress progress-sm mr-2">
                                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card shadow mb-4" v-if="campaniaSelected != null">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">{{campaniaSelected.TITULO_CAMPANA}}</h6>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered table-hover ">
                                <thead>
                                <tr>
                                    <th @click="sort('CODIGOCLIENTE')" style="cursor: pointer"><i class="fa fa-sort" aria-hidden="true"></i>  CODCLI </th>
                                    <th @click="sort('AUTORIZA')" style="cursor: pointer"> <i class="fa fa-sort" aria-hidden="true"></i>  AUTORIZA</th>
                                    <th @click="sort('NOMBRECOMPLETO')" style="cursor: pointer"><i class="fa fa-sort" aria-hidden="true"></i>  NOMBRE COMPLETO</th>
                                    <th @click="sort('DOCUMENTO')" style="cursor: pointer"><i class="fa fa-sort" aria-hidden="true"></i>  DOC.</th>
                                    <th @click="sort('TELEFONO')" style="cursor: pointer"><i class="fa fa-sort" aria-hidden="true"></i>  TLF</th>
                                    <th @click="sort('FULTIMA')" style="cursor: pointer"><i class="fa fa-sort" aria-hidden="true"></i>  F. CONTACTO</th>
                                    <th>OPC</th>
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr v-for="(detalle,i) in direct.directorioWrapperList" > -->
                                <tr v-for="(detalle,i) in dataPaginada" >
                                    <td>{{detalle.CODIGOCLIENTE}}</td>
                                    <td>{{detalle.AUTORIZA}}</td>
                                    <td>{{detalle.NOMBRECOMPLETO}}</td>
                                    <td>{{detalle.DOCUMENTO}}</td>
                                    <td>{{detalle.TELEFONO}}</td>
                                    <td>{{detalle.FULTIMA}}</td>
                                    <td><a class="btn btn btn-warning" href="#"  data-toggle="modal" data-target="#exampleModal"  @click="showModal(detalle)" ><i class="fas fa-user-edit"></i></a></td>
                                </tr>
                                </tbody>
                            </table>
                            <p>
                                <button class="btn btn-default"  :class="['btn', currentPage==n ? 'btn-info' : 'btn-default' ]" v-if="currentPage" :disabled="currentPage==n ? true : false"  v-for="n in numOfPages" @click.prevent="setPage(n)">{{n}}</button>
                            </p>
                        </div>
                    </div>

                </div>

                <div id="snackbar">
                    <a v-if="msjSnackbar.tipo=='success'" href="#" class="btn btn-success btn-circle btn-sm"><i class="fas fa-check"></i></a>

                    {{msjSnackbar.mensaje}}
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">
                                <i class="fa fa-user" aria-hidden="true"></i>  {{clienteSelected.NOMBRECOMPLETO}}
                            </h4>
                        </div>
                        <div class="modal-body">

                            <div class="bd-example bd-example-tabs">
                                <nav>
                                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                        <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Datos del Cliente</a>
                                        <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Datos del Crédito</a>
                                        <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Reg. LLamadas</a>
                                    </div>
                                </nav>
                                <div class="tab-content" id="nav-tabContent">
                                    <div class="tab-pane fade active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                        <div class="row">

                                            <div class="col-md-2 col-sm-3 col-xs-12 form-group">
                                                <label>DOCUMENTO:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.CODIGOCLIENTE" placeholder="CODIGOCLIENTE" disabled>
                                            </div>

                                            <div class="col-md-6 col-sm-3 col-xs-12 form-group">
                                                <label>APELLIDOS Y NOMBRES:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.NOMBRECOMPLETO"  placeholder="NOMBRECOMPLETO" disabled>
                                            </div>

                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                <label>DEPARTAMENTO:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.DEPARTAMENTO"  placeholder="DEPARTAMENTO" disabled>
                                            </div>
                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                <label>PROVINCIA:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.PROVINCIA"  placeholder="PROVINCIA" disabled>
                                            </div>

                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                <label>DISTRITO:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.DISTRITO"  placeholder="DISTRITO" disabled>
                                            </div>
                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                <label>ZONA:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.ZONA"  placeholder="ZONA" disabled>
                                            </div>
                                            <div class="col-md-12 col-sm-3 col-xs-12 form-group">
                                                <label>DIRECCION:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.DIRECCION"  placeholder="DIRECCION" disabled>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                        <div class="row">

                                            <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                <label>CALIF0:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.CALIF0"  placeholder="CALIF0" disabled>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                <label>CALIF1:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.CALIF1"  placeholder="CALIF1" disabled>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                <label>NRO. IFIS:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.NROIFI"  placeholder="NROIFI" disabled>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-3 form-group">
                                                <label>DEUDA DIRECTA:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.DEUDADIRECTA"  placeholder="DEUDADIRECTA" disabled>
                                            </div>

                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group">
                                                <label>ACTIVIDAD ESCENCIAL:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.ACTIVIDAD_ESENCIAL"  placeholder="ACTIVIDAD_ESENCIAL" disabled>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                        <div class="row">

                                            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                                                <label>TELEFONO:</label>
                                                <input type="text" class="form-control" v-model="clienteSelected.TELEFONO"  placeholder="TELEFONO" disabled>
                                            </div>
                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group" >
                                                <label>ULTIMA LLAMADA:</label>
                                                <input type="text" class="form-control" :value="calFULTIMA" disabled>
                                            </div>
                                            <div class="col-md-4 col-sm-3 col-xs-12 form-group" >
                                                <label>ULTIMA RESPUESTA:</label>
                                                <input type="text" class="form-control" :value="calRULTIMA" disabled>
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>1° LLAMADA:</label>
                                                <input type="date" class="form-control" v-model="clienteSelected.FCONTACTO1" >
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>1° RESPUESTA:</label>
                                                <select class="form-control"  v-model="clienteSelected.RCONTACTO1">
                                                    <option disabled value="">Seleccione una opción</option>
                                                    <option v-for="opc in opcResultadoContacto">{{opc.Resultado_contacto}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>2° LLAMADA:</label>
                                                <input type="date" class="form-control" v-model="clienteSelected.FCONTACTO2"  >
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>2° RESPUESTA:</label>
                                                <select class="form-control"  v-model="clienteSelected.RCONTACTO2">
                                                    <option disabled value="">Seleccione una opción</option>
                                                    <option v-for="opc in opcResultadoContacto">{{opc.Resultado_contacto}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>3° LLAMADA:</label>
                                                <input type="date" class="form-control" v-model="clienteSelected.FCONTACTO3" >
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>3° RESPUESTA:</label>
                                                <select class="form-control"  v-model="clienteSelected.RCONTACTO3">
                                                    <option disabled value="">Seleccione una opción</option>
                                                    <option v-for="opc in opcResultadoContacto">{{opc.Resultado_contacto}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>4° LLAMADA:</label>
                                                <input type="date" class="form-control" v-model="clienteSelected.FCONTACTO4" >
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>4° RESPUESTA:</label>
                                                <select class="form-control"  v-model="clienteSelected.RCONTACTO4">
                                                    <option disabled value="">Seleccione una opción</option>
                                                    <option v-for="opc in opcResultadoContacto">{{opc.Resultado_contacto}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>5° LLAMADA:</label>
                                                <input type="date" class="form-control" v-model="clienteSelected.FCONTACTO5"  >
                                            </div>

                                            <div class="col-md-6 col-sm-6 col-xs-6 form-group" >
                                                <label>5° RESPUESTA:</label>
                                                <select class="form-control"  v-model="clienteSelected.RCONTACTO5">
                                                    <option disabled value="">Seleccione una opción</option>
                                                    <option v-for="opc in opcResultadoContacto">{{opc.Resultado_contacto}}</option>
                                                </select>
                                            </div>



                                            <div class="col-md-12 col-sm-12 col-xs-12 form-group" >
                                                <label>COMENTARIOS: </label>
                                                <textarea class="form-control" v-model="clienteSelected.COMENTARIOS"></textarea>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>
                            <button id="btn-save-llamada"class="btn btn-success btn-icon-split" @click="registrarLlamada" :disabled="process">
                                <span class="icon text-white-50">
                                  <i class="fas fa-check" v-if="!process"></i>
                                    <i v-if="process" class="fas fa-spinner"></i>
                                </span>
                                <span class="text">Guardar</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Caja Piura 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>


<!-- Bootstrap core JavaScript-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Core plugin JavaScript-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- Custom scripts for all pages-->
<script src="https://blackrockdigital.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  //
  var campanias = <?!= campanias ?>;
  var opc_resultadoContacto = <?!=opcresultcontacto ?>;
  var correo = '<?!= email ?>';
  var userinfo = '<?!= userinfo ?>';

  var apps = new Vue({
    el: '#app',
    data: {
      userinfo: userinfo,
      msjSnackbar:{
        mensaje:'',
        tipo:'' //primary,info,success,warning,danger
      },
      campanias: campanias,
      email: correo,
      opcResultadoContacto:opc_resultadoContacto,
      currentSort:'CODIGOCLIENTE',
      currentSortDir:'desc',
      buscarRow:"",
      currentPage: 1,
      perPage: 20,
      perPageOptions: [3,6],
      dataEspecialFiltrada:[],
      dataNormal:[],
      campaniaSelected:null,
      clienteSelected:{
          ACTIVIDAD_ESENCIAL: "",
          AGENCIA: "",
          ASESOR: "",
          AUTORIZA: "",
          CALIF0: "",
          CALIF1: "",
          CAMPANA: "",
          CODIGOCLIENTE: "",
          CORREO: "",
          DEPARTAMENTO: "",
          DEUDADIRECTA: "",
          DEUDIRCONREV: "",
          DIRECCION: "",
          DIRECCIONPOSTAL: "",
          DISTRITO: "",
          DOCUMENTO: "",
          EDAD: "",
          EMAIL_USER: "",
          FCONTACTO1: "",
          FCONTACTO2: "",
          FCONTACTO3: "",
          FCONTACTO4: "",
          FCONTACTO5: "",
          COMENTARIOS:"",
          FECHACT: "",
          FECNAC: "",
          FECHA_SEGUIM: "",
          ID_CAMP: "",
          LIBRO: "",
          NOMBRECOMPLETO: "",
          NROIFI: "",
          PROVINCIA: "",
          RCONTACTO1: "",
          RCONTACTO2: "",
          RCONTACTO3: "",
          RCONTACTO4: "",
          RCONTACTO5: "",
          REGION: "",
          RULTIMA: "",
          RESULTADO_SEGUIM: "",
          SEXO: "",
          TELEFONO: "",
          TIPOCREDITOSBS: "",
          ZONA: "",
          FULTIMA:""
      },
      process:false
    },
    watch: {
    },
    mounted() {
    },
    created: function () {
      console.log("userinfo",this.userinfo);
        //console.log("campanias",campanias);
        //console.log("opcResultadoContacto",opc_resultadoContacto);
    },
    computed: {
      calFULTIMA:function(){
        let r = "";
        if(this.clienteSelected.FCONTACTO5 !== ""){
          r = this.clienteSelected.FCONTACTO5
        }else if(this.clienteSelected.FCONTACTO4 !== ""){
          r = this.clienteSelected.FCONTACTO4
        }else if(this.clienteSelected.FCONTACTO3 !== ""){
          r = this.clienteSelected.FCONTACTO3
        }else if(this.clienteSelected.FCONTACTO2 !== ""){
          r = this.clienteSelected.FCONTACTO2
        }else if(this.clienteSelected.FCONTACTO1 !== ""){
          r = this.clienteSelected.FCONTACTO1;
        }
        return r;
      },
      calRULTIMA:function(){
        let r = "";
        if(this.clienteSelected.RCONTACTO5 !== ""){
          r = this.clienteSelected.RCONTACTO5
        }else if(this.clienteSelected.RCONTACTO4 !== ""){
          r = this.clienteSelected.RCONTACTO4
        }else if(this.clienteSelected.RCONTACTO3 !== ""){
          r = this.clienteSelected.RCONTACTO3
        }else if(this.clienteSelected.RCONTACTO2 !== ""){
          r = this.clienteSelected.RCONTACTO2
        }else if(this.clienteSelected.RCONTACTO1 !== ""){
          r = this.clienteSelected.RCONTACTO1;
        }
        return r;
      },
      sortedRows:function() {
        return this.dataEspecialFiltrada.sort( function (a,b) {
          var modifier = 1;
          if(this.currentSortDir === 'desc') modifier = -1;
          if(a[this.currentSort] < b[this.currentSort]) return -1 * modifier;
          if(a[this.currentSort] > b[this.currentSort]) return 1 * modifier;
          return 0;

        }.bind(this));
      },
      offset:function() {
        return ((this.currentPage - 1) * this.perPage);
      },
      limit:function() {
        return (this.offset + this.perPage);
      },
      numOfPages:function() {
        var data =this.dataEspecialFiltrada;
        return Math.ceil(data.length / this.perPage);
      },
      dataPaginada:function() {
        var data =this.sortedRows;
        if (this.offset > data.length) {
          this.currentPage = this.numOfPages;
        }
        return data.slice(this.offset, this.limit);
      }
    },

    methods: {
      openSnakBar:function (msj,tipo) {
        var x = document.getElementById("snackbar");
        this.msjSnackbar.mensaje = msj;
        this.msjSnackbar.tipo=tipo;
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 6000);
      },
      addNumeroLLamadas:function (inc) {
        this.clienteSelected.NUMERO_LLAMADAS+= inc;
        console.log("NUMERO_LLAMADAS",this.clienteSelected.NUMERO_LLAMADAS);
        var hoy = new Date();
        //fechaUltimaLlamada
        var fecha = hoy.getFullYear() + '-' + this.ceroIzquierda( hoy.getMonth() + 1 ) + '-' +  this.ceroIzquierda(hoy.getDate());
        var hora = this.ceroIzquierda(hoy.getHours()) + ':' + this.ceroIzquierda(hoy.getMinutes()) + ':' + this.ceroIzquierda(hoy.getSeconds());
        this.clienteSelected.RULTIMA= fecha + ' ' + hora;

      },
      selectCampania:function(camp) {
        console.log("Visualizar campania",camp);
        this.campaniaSelected = camp;
        this.dataEspecialFiltrada = camp.DATA;
      },
      showModal:function(cliente){
        this.clienteSelected = cliente;
        //this.clienteSelected.NUMERO_LLAMADAS = this.calNumeroLLamadas(cliente);
      },
      registrarLlamada:function(){
        this.process = true;
        this.clienteSelected.RULTIMA = this.calRULTIMA;
        this.clienteSelected.FULTIMA = this.calFULTIMA;
        google.script.run.withSuccessHandler(function(result) {
          console.log("RPTA",result);
          this.process = false;
          $('#exampleModal').modal('toggle');
          this.openSnakBar("Se actualizó correctamente","success");
        }.bind(this)).registerCall(this.clienteSelected);

      },
      ceroIzquierda:function (numero) {
        if(numero<9){
          return "0"+numero;
        }
        return numero;
      },

      sort:function(s) {
        //if s == current sort, reverse
        //console.log("sort===");
        if(s === this.currentSort) {
          this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
        }
        this.currentSort = s;
      },
      setPage:function(n) {
        this.currentPage = n;
      },


    }
  });
</script>

</body>

</html>
