
<!DOCTYPE html>
<html lang="en">

<head>
    <base target="_self">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gestor de Campañas</title>

    <!-- Custom fonts for this template-->
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="https://gurayyarar.github.io/AdminBSBMaterialDesign/css/themes/all-themes.css" rel="stylesheet" />

    <!--ht-wt  -->
    <link href="https://drive.google.com/uc?export=view&id=1jebnoMM0CkzUgJe38udT4xi4fHGV9RGg" rel="stylesheet">
    <style>
        section.content {
            margin: 100px 15px 0 225px;
            -moz-transition: 0.5s;
            -o-transition: 0.5s;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }
    </style>
</head>

<body class="theme-indigo">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Cargando...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid" style="background-color: #0060b0">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="../../index.html" style="padding: 10px 15px">
                <img src="https://www.cajapiura.pe/images/logo.png" style="width:150px;height:30px" >
            </a>
        </div>

    </div>
</nav>
<!-- #Top Bar -->
<div id="app">
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" style="width: auto">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="https://gurayyarar.github.io/AdminBSBMaterialDesign/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{userinfo.EMPNOM}} {{userinfo.EMPAPP}}</div>
                    <div class="email">{{userinfo.CORREO}}</div>
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">MENÚ</li>
                    <li v-for="opc in opcmenu ">
                        <a href="#" @click="redirectMenu(opc)" class="menu-toggle">
                            <i class="material-icons">{{opc.ICON}}</i>
                            <span>{{opc.OPCMENU}}</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2020 <a href="javascript:void(0);"> Caja Piura</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->

        <!-- #END# Right Sidebar -->
    </section>

    <section class="content" >
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h2>
                        Seguimiento de Campañas
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">more_vert</i>
                            </a>
                            <ul class="dropdown-menu pull-right">
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Another action</a></li>
                                <li><a href="javascript:void(0);" class=" waves-effect waves-block">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="REGION" :options="regions" v-model="regionSelectedSearch" placeholder="Región" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="NOMAGE" :options="agencias" v-model="agenciaSelected" placeholder="Agencias" multiple  />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="TITULO_CAMPANA" :options="campanias" v-model="campaniaSelected" placeholder="Campañas" multiple  />
                        </div>
                       
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation"  class="active">
                            <a href="#profile_only_icon_title" data-toggle="tab">
                                <i class="material-icons">insert_chart</i> Avance
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="profile_only_icon_title">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Embudo Comercial</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <li><a href="javascript:void(0);">Another action</a></li>
                                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <v-chart id="embudoComercial" clase="echarts ht-300 ht-xl-400 " key="embudoComercial" :options="embudoComercial" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Avance por Campaña</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <li><a href="javascript:void(0);">Another action</a></li>
                                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <v-chart id="graficoAvance" clase="echarts ht-300 ht-xl-400 " key="graficoAvance" :options="barrasagrupadas" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Top 5 Agencias con menos Avance </h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <li><a href="javascript:void(0);">Another action</a></li>
                                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <v-chart id="graficoAvanceAsesor" clase="echarts ht-300 ht-xl-300 " key="graficoAvanceAsesor" :options="graficoAvanceAsesor" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Tipo de Respuesta</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                    <ul class="dropdown-menu pull-right">
                                                        <li><a href="javascript:void(0);">Action</a></li>
                                                        <li><a href="javascript:void(0);">Another action</a></li>
                                                        <li><a href="javascript:void(0);">Something else here</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <v-chart id="graficoAvanceOpcRespuesta" clase="echarts ht-300 ht-xl-300 " key="graficoAvanceOpcRespuesta" :options="graficoAvanceOpcRespuesta" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<!-- Jquery Core Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Waves Effect Plugin Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/plugins/node-waves/waves.js"></script>

<!-- Custom Js -->
<script src="https://gurayyarar.github.io/AdminBSBMaterialDesign/js/admin.js"></script>

<script src="//unpkg.com/vue@latest/dist/vue.min.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>

<link rel="stylesheet" href="https://unpkg.com/vue-select@latest/dist/vue-select.css">
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/echarts@4.1.0/dist/echarts.js"></script>
<script src="https://drive.google.com/uc?export=view&id=1RU1vovT-lo657FWsiZl4sFAx1_POptf5" type="application/javascript"></script>

<script>
  //
  var userinfo = <?!= userinfo ?>;
  var opcmenu = <?!= opcmenu ?>;
  var url = <?= ScriptApp.getService().getUrl() ?>;
  var data_agencia = <?!= agencia ?>;
  var data = <?!= data ?>;
  var campanias = <?!= campanias ?>;
  var opcresultcontacto = <?!= opcresultcontacto ?>;
  var region = <?!= region ?>;

  function comasNumero(num) {
    var value_str = String(num);
    var num_parts = value_str.split('.');
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    //console.log("comas_numero",num,num_parts.join("."));
    return num_parts.join('.');
  };
  function rotateEtiqueta(etiquetax) {
    var max = _.maxBy(etiquetax, function(o) {
      return o.length;
    });
    //console.log("min",min);
    if (max.length >= 7 && etiquetax.length > 12) {
      return 90;
    } else {
      return 0;
    }
  };
  function nFormatter (num, digits) {
    var retorno;
    var negativo = false;

    if (num < 0) {
      num = Math.abs(num);
      negativo = true;
    }

    var si = [
      { value: 1, symbol: '' },
      { value: 1E3, symbol: 'k' },
      { value: 1E6, symbol: 'M' },
      //{ value: 1E9, symbol: "G" },
      { value: 1E12, symbol: 'T' },
      { value: 1E15, symbol: 'P' },
      { value: 1E18, symbol: 'E' }
    ];
    //var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
    //var rx = /\B(?=(\d{3})+(?!\d))+$/g;
    var i;
    for (i = si.length - 1; i > 0; i--) {
      if (num >= si[i].value) {
        break;
      }
    }

    retorno = (num / si[i].value).toFixed(digits);
    retorno = this.comasNumero(retorno) + si[i].symbol;
    //retorno = (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
    if (negativo) {
      retorno = '-' + retorno;
    }
    return retorno;
  };

  Vue.component( 'v-select', VueSelect.VueSelect);
  Vue.component('v-chart', VueECharts);

  var apps = new Vue({
    el: '#app',
    data: {
      url: url,
      userinfo: userinfo,
      opcmenu: opcmenu,
      agencias: data_agencia,
      data: data,
      dataFull:[],
      dataFullBk:[],
      opcresultcontacto:opcresultcontacto,
      agenciaSelected: [],
      campanias: campanias,
      campaniaSelected: [],
      regions:region,
      regionsSearch:[],
      regionSelectedSearch:null,
      
      barrasagrupadas:null,
      embudoComercial:null,
      graficoAvanceAsesor:null,
      graficoAvanceOpcRespuesta:null,
      
      theme:{
        color:[
          "#009788",
          "#1976d2",
          "#d91c5f",
          "#ffec01",
          "#fb9900",
          "#9e9e9e",
          "#759c6a",
          "#bfd3b7",
          "#d500f9"],
        textStyle: {
          fontFamily: "Arial, Verdana, sans-serif"
        }
      },
      process:false
    },
    watch: {
      regionSelectedSearch:function(current,old){
        console.log("regionSelectedSearch",current,"old",old);
        this.filterAll();
      },
      regionSelected:function(current,old) {
        console.log("regionSeleCurrent",current,"old",old);
        this.filterAll();
      },
      agenciaSelected:function(current,old) {
        console.log("agenciaSelected",current,"old",old);
        this.filterAll();
      },
      campaniaSelected:function(current,old) {
        console.log("campaniaSelected",current,"old",old);
        this.filterAll();
      }
    },
    mounted() {
    },
    created: function () {
      console.log("userinfo",this.userinfo);
      console.log("opcmenu",this.opcmenu);
      console.log("agencias",this.agencias);
      console.log("data",this.data);
      console.log("regions",this.regions);
      console.log("campañas",this.campanias);
      console.log("opcresultcontacto",this.opcresultcontacto);
      var data_total = this.dataTotal();
      this.dataFull = data_total;
      this.dataFullBk =data_total;
      //this.regionsSearch = _.uniqBy(this.dataFullBk, 'REGION');
      this.graficoAvance2();
      this.graficoEmbudoComercial();
      this.rankingAgenciaTop();
      this.graficoAvanceOpc();

    },
    computed: {

    },

    methods: {
      filterAll:function(){
        this.dataFull = this.dataFullBk;
        this.dataEspecialFiltrada = this.dataNormalBk;
        this.filterRegionCombo();
        this.filterCampanaCombo();
        this.filterAgenciaCombo();
        this.graficoAvance2();
        this.graficoEmbudoComercial();
        this.rankingAgenciaTop();
        this.graficoAvanceOpc();
      },

      filterRegionCombo:function(){
        if(this.regionSelectedSearch !== null ){
          this.dataFull = this.dataFull.filter((e)=>{
            return e.CODREG === this.regionSelectedSearch.CODREG;
          });
        }
      },

      filterAgenciaCombo:function(){
        var values = [];
        this.agenciaSelected.forEach(function(el) {
          values.push(el.CODAGE);
        });
        this.dataFull = values.length > 0 ?  this.filterKeys(['CODAGE'],values,this.dataFull): this.dataFull;
      },

      filterCampanaCombo:function(){
        var values = [];
        this.campaniaSelected.forEach(function(el) {
          values.push(el.ID_CAMPANIA);
        });
        this.dataFull = values.length > 0 ?  this.filterKeys(['ID_CAMP'],values,this.dataFull): this.dataFull;
      },

      dataTotal:function(){
        var arrTotal = [];
        this.data.forEach((e)=>{
          e.forEach((f)=>{
            arrTotal.push(f);
          });
        });
        return arrTotal;
      },

      graficoAvance2:function(){
        var groupCamp = _.groupBy(this.dataFull,'CAMPANA');
        var arrSeries = [];
        var arrLegend = [];
        var arrCategorias =[];
        //console.log("campañas data",)
        console.log("groupCamp2",groupCamp);
        Object.keys(groupCamp).forEach((a)=>{

          arrLegend.push(a);
          var obj = {};
          obj.name = a;
          obj.type = 'bar';
          var arrData = [];
          var groupRegion = _.groupBy(groupCamp[a],'CODREG');
          var arrCategoria = [];
          console.log("keys",Object.keys(groupRegion));
          console.log("groupRegion",groupRegion);
          Object.keys(groupRegion).forEach((b)=>{
            var regionrr = this.regions.filter((e)=>{return e.CODREG === b})[0].REGION;
            console.log("regionrr",regionrr);
            var clientes = groupRegion[b].length;
            console.log("clientes",clientes);
            var contatos = _.sumBy(groupRegion[b], function(o) { return o.RULTIMA!==''; });
            console.log("contatos",contatos);
            var avance = (clientes>0) ? _.round(100*contatos/clientes, 2)  : 0;
            arrData.push(avance);
            arrCategoria.push(regionrr);
            console.log("regionrrSelect",regionrr);
          });
          obj.data = arrData;
          //this.series.push(obj);
          arrCategorias = arrCategoria;
          //this.category = arrCategoria;
          arrSeries.push(obj);
        });
        console.log("arrSeries2",arrSeries);
        this.barrasagrupadas = {
          tooltip : {
            trigger: 'axis',
            axisPointer : {
              type : 'shadow'
            },
            formatter: function (params, ticket, callback) {
              var tool= params[0].name + '<br/>';
              params.forEach(function (val,index,array) {
                if (val.value != 0) {
                  tool = tool+val.marker+val.seriesName+": "+comasNumero( val.value)+'<br/> '
                }
              });
              return tool;
            }
          },
          legend: {
            data:arrLegend
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis : [
            {
              type : 'category',
              data : arrCategorias,
              splitArea: {
                show: true
              },
              axisLabel: {
                rotate: rotateEtiqueta(arrCategorias)
              }
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel: {
                formatter: function(value,index) {
                  return nFormatter(value,0);
                }
              }
            }, {
              type : 'value',
              axisLabel: {
                formatter: function(value,index) {
                  return nFormatter(value,0);
                }
              }
            }
          ],
          series : arrSeries
        };
      },
      
      graficoAvanceOpc:function(){

        var arrLegend = [];
        var arrData = [];
        this.opcresultcontacto.forEach((e)=>{
          //console.log("opc",e);
          var contacto = _.sumBy(this.dataFull, (o) => {return o.RULTIMA === e.Resultado_contacto ; });
          var avance =  _.round(100*contacto/this.dataFull.length, 2);
          arrLegend.push(e.Resultado_contacto);
          arrData.push({
            name:e.Resultado_contacto,
            value:avance
          })
        });
        console.log("arrData",arrData);
        console.log("arrLegend",arrLegend);

        this.graficoAvanceOpcRespuesta = {
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            orient: 'vertical',
            left: 'left',
            data: arrLegend
          },
          series: [
            {
              label: {
                normal: {
                  formatter: '{d}%',
                  position: 'inside'
                }
              },
              type: 'pie',
              //radius: '65%',
              //center: ['50%', '50%'],
              selectedMode: 'single',
              data: arrData
            }
          ]
        };
      },

      rankingAgenciaTop:function(){
        var agencias =  _.groupBy(this.dataFull,'CODAGE');
        var arrAvance = [];
        console.log("agenciaSSS",agencias);
        Object.keys(agencias).forEach((a)=>{
          var agenciasAD= _.filter(this.agencias, (o) => {return o.CODAGE ===a ; })[0].NOMAGE;
          console.log("agenciasad",agenciasAD);
          var contacto = _.filter(agencias[a], (o) => {return o.RULTIMA !=='' ; }).length;
          var avance =  _.round(100*contacto/agencias[a].length, 2);
          arrAvance.push({
            agencia:agenciasAD,
            avance: avance,
            cant:agencias[a]
          });
        });
        console.log("Avance",arrAvance);
        var topAgencias= _.take(_.orderBy(arrAvance,['avance'],['asc']),5);
        console.log("top 5 malos",topAgencias);
        var arrCategoria = [];
        var arrData = [];
        topAgencias.forEach((b)=>{
          arrCategoria.push(b.agencia);
          arrData.push(b.avance);
        });
        this.graficoAvanceAsesor = {
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: ['Avance%']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
          },
          yAxis: {
            type: 'category',
            data: arrCategoria
          },
          series: [
            {
              name: 'Avance%',
              type: 'bar',
              data: arrData
            }
          ]
        };
      },

      graficoEmbudoComercial:function() {

        var arrLegend = [];
        arrLegend.push('Prospectos');
        arrLegend.push('Contactados');
        arrLegend.push('Interesado');
        arrLegend.push('Por desembolsar');
        arrLegend.push('Desembolsado');
       /* this.opcresultcontacto.forEach((e)=>{
          arrLegend.push(e.Resultado_contacto);
        });*/
        var cant = this.dataFull.length;
        var contactados = _.sumBy(this.dataFull, function(o) { return o.RULTIMA !== ''; });
        var arrData = [];


        arrLegend.forEach((a)=>{
          if(a === 'Prospectos'){
            arrData.push({
              name : a,
              value: 100
            });
          }else if(a === 'Contactados'){
            arrData.push({
              name : a,
              value: (cant>0) ? _.round(100*contactados/cant, 2)  : 0
            });
          }else {
            var porc = _.sumBy(this.dataFull, function(o) { return o.RULTIMA === a; });
            var val = (cant>0) ? _.round(100*porc/cant, 2)  : 0;
            arrData.push({
              name : a,
              value: val
            });
          }
        });


        console.log("legend",arrLegend);
        console.log("arrData",arrData);

        //this.identificador="barrasagrupadas";

        this.embudoComercial = {
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c}%'
          },
          legend: {
            orient: 'horizontal',
            //bottom:'bottom',
            //left: 'left',
            data:arrLegend
          },

          series: [
            {
              type:'funnel',
              left: '10%',
              top: 60,
              //x2: 80,
              bottom: 60,
              width: '80%',
              // height: {totalHeight} - y - y2,
              min: 0,
              max: 100,
              minSize: '0%',
              maxSize: '100%',
              sort: 'none',
              gap: 2,
              label: {
                position: 'inside',
                formatter: '{c}%', //'{b} : {c}%',
                color: '#fff'
              },
              labelLine: {
                length: 10,
                lineStyle: {
                  width: 1,
                  type: 'solid'
                }
              },
              itemStyle: {
                borderColor: '#fff',
                borderWidth: 1
              },
              emphasis: {
                label: {
                  fontSize: 20
                }
              },
              data: arrData
            }
          ]
        };
      },

      groupBy:function(xs, key){
        var obj = [];
        xs.forEach(function (value1) {
          obj.push((value1[key]==undefined?0:value1[key]));
        });
        return obj;
      },

      filterKeys:function(keys,values,data){
        return data.filter(function(e) {
          return keys.every(function(a) {
            return values.includes(e[a])
          })
        })
      },

      redirectMenu:function(opc) {
        var url = this.url + '?v=' + opc.URL;
        window.open(url,'_blank');
        window.open('','_self').close();
        //window.close()
      },
    }
  });
</script>

</body>

</html>
