
<!DOCTYPE html>
<html lang="en">

<head>
    <base target="_self">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Gestor de Campañas</title>
    <?!= include("page-css"); ?>

</head>

<body class="theme-indigo">
<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-red">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Cargando...</p>
    </div>
</div>
<!-- #END# Page Loader -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->
<!-- Search Bar -->
<!-- #END# Search Bar -->
<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid" style="background-color: #0060b0">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="../../index.html" style="padding: 10px 15px">
                <img src="https://www.cajapiura.pe/images/logo.png" style="width:150px;height:30px" >
            </a>
        </div>

    </div>
</nav>
<!-- #Top Bar -->
<div id="app">
    <?!= include("sidebar"); ?>

    <section class="content" >
        <div class="container-fluid">
            <div class="card">
                <div class="header">
                    <h2>
                        Seguimiento de Campañas
                    </h2>
                    <ul class="header-dropdown m-r--5">
                        <li>
                            <a href="javascript:void(0);" data-toggle="cardloading" data-loading-effect="timer"  @click="refreshData" :disabled="cargaCompleta">
                                <i class="material-icons">loop</i>
                            </a>
                        </li>
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                                <i class="material-icons">more_vert</i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="REGION" :options="regions" v-model="regionSelectedSearch" placeholder="Región" />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="NOMAGE" :options="agencias" v-model="agenciaSelected" placeholder="Agencias" multiple  />
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                            <v-select label="TITULO_CAMPANA" :options="campanias" v-model="campaniaSelected" placeholder="Campañas" multiple  />
                        </div>
                       
                    </div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs tab-nav-right" role="tablist">
                        <li role="presentation"  class="active">
                            <a href="#profile_only_icon_title" data-toggle="tab">
                                <i class="material-icons">insert_chart</i> Avance
                            </a>
                        </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="profile_only_icon_title">
                            <div class="row clearfix">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Embudo comercial</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>

                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="loader" v-if="!cargaCompleta" style="text-align: center">
                                                <div class="preloader pl-size-sm">
                                                    <div class="spinner-layer pl-indigo">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>Cargando...</p>
                                            </div>
                                            <v-chart v-if="cargaCompleta" id="embudoComercial" clase="echarts ht-300 ht-xl-400 " key="embudoComercial" :options="embudoComercial" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Avance por campaña</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="loader" v-if="!cargaCompleta" style="text-align: center">
                                                <div class="preloader pl-size-sm">
                                                    <div class="spinner-layer pl-indigo">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>Cargando...</p>
                                            </div>
                                            <v-chart v-if="cargaCompleta" id="graficoAvance" clase="echarts ht-300 ht-xl-400 " key="graficoAvance" :options="barrasagrupadas" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Top 5 Agencias con menos avance </h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="loader" v-if="!cargaCompleta" style="text-align: center">
                                                <div class="preloader pl-size-sm">
                                                    <div class="spinner-layer pl-indigo">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>Cargando...</p>
                                            </div>
                                            <v-chart v-if="cargaCompleta" id="graficoAvanceAsesor" clase="echarts ht-300 ht-xl-300 " key="graficoAvanceAsesor" :options="graficoAvanceAsesor" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="card">
                                        <div class="header">
                                            <h2>Tipo de respuesta</h2>
                                            <ul class="header-dropdown m-r--5">
                                                <li class="dropdown">
                                                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="body">
                                            <div class="loader" v-if="!cargaCompleta" style="text-align: center">
                                                <div class="preloader pl-size-sm">
                                                    <div class="spinner-layer pl-indigo">
                                                        <div class="circle-clipper left">
                                                            <div class="circle"></div>
                                                        </div>
                                                        <div class="circle-clipper right">
                                                            <div class="circle"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <p>Cargando...</p>
                                            </div>
                                            <v-chart id="graficoAvanceOpcRespuesta" clase="echarts ht-300 ht-xl-300 " key="graficoAvanceOpcRespuesta" :options="graficoAvanceOpcRespuesta" autoresize :theme="theme"></v-chart>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<?!= include("page-js"); ?>
<script src="https://cdn.jsdelivr.net/npm/alasql@0.6"></script>

<script type="text/x-template" id="cargaloader">
    <div class="loader"  style="text-align: center">
        <div class="preloader pl-size-sm">
            <div class="spinner-layer pl-indigo">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>{{mensaje}}</p>
    </div>
</script>

<script>
  //
  var userinfo = <?!= userinfo ?>;
  var opcmenu = <?!= opcmenu ?>;
  var url = <?= ScriptApp.getService().getUrl() ?>;
  url = <?= ScriptApp.getService().getUrl() ?>;


  function comasNumero(num) {
    var value_str = String(num);
    var num_parts = value_str.split('.');
    num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ',');
    //console.log("comas_numero",num,num_parts.join("."));
    return num_parts.join('.');
  };
  function rotateEtiqueta(etiquetax) {
    var max = _.maxBy(etiquetax, function(o) {
      return o.length;
    });
    //console.log("min",min);
    if (max.length >= 7 && etiquetax.length > 12) {
      return 90;
    } else {
      return 0;
    }
  };
  function nFormatter (num, digits) {
    var retorno;
    var negativo = false;

    if (num < 0) {
      num = Math.abs(num);
      negativo = true;
    }

    var si = [
      { value: 1, symbol: '' },
      { value: 1E3, symbol: 'k' },
      { value: 1E6, symbol: 'M' },
      //{ value: 1E9, symbol: "G" },
      { value: 1E12, symbol: 'T' },
      { value: 1E15, symbol: 'P' },
      { value: 1E18, symbol: 'E' }
    ];
    //var rx = /\.0+$|(\.[0-9]*[1-9])0+$/;
    //var rx = /\B(?=(\d{3})+(?!\d))+$/g;
    var i;
    for (i = si.length - 1; i > 0; i--) {
      if (num >= si[i].value) {
        break;
      }
    }

    retorno = (num / si[i].value).toFixed(digits);
    retorno = this.comasNumero(retorno) + si[i].symbol;
    //retorno = (num / si[i].value).toFixed(digits).replace(rx, "$1") + si[i].symbol;
    if (negativo) {
      retorno = '-' + retorno;
    }
    return retorno;
  };

  Vue.component( 'v-select', VueSelect.VueSelect);
  Vue.component('v-chart', VueECharts);

  Vue.component('v-loader', {
    props: ['mensaje'],
    template: '#cargaloader',
    data: function () {
      return {
        mensaje: "Cargando..."
      }
    }
  });
  var apps = new Vue({
    el: '#app',
    data: {
      cargaCompleta:false,
      url: url,
      userinfo: userinfo,
      opcmenu: opcmenu,

      agencias: [],
      data: [],
      dataFull:[],
      dataFullBk:[],
      opcresultcontacto:[],
      agenciaSelected: [],
      campanias: [],
      campaniaSelected: [],
      regions:[],
      regionsSearch:[],
      regionSelectedSearch:null,
      
      barrasagrupadas:null,
      embudoComercial:null,
      graficoAvanceAsesor:null,
      graficoAvanceOpcRespuesta:null,
      
      theme:{
        color:[
          "#009788",
          "#1976d2",
          "#d91c5f",
          "#ffec01",
          "#fb9900",
          "#9e9e9e",
          "#759c6a",
          "#bfd3b7",
          "#d500f9"],
        textStyle: {
          fontFamily: "Arial, Verdana, sans-serif"
        }
      },
      process:false
    },
    watch: {
      regionSelectedSearch:function(current,old){
        //console.log("regionSelectedSearch",current,"old",old);
        this.filterAll();
      },
      regionSelected:function(current,old) {
        //console.log("regionSeleCurrent",current,"old",old);
        this.filterAll();
      },
      agenciaSelected:function(current,old) {
        //console.log("agenciaSelected",current,"old",old);
        this.filterAll();
      },
      campaniaSelected:function(current,old) {
        //console.log("campaniaSelected",current,"old",old);
        this.filterAll();
      }
    },
    mounted() {
      //this.cargarData();
    },
    created: function () {
      this.cargarData();
     /* console.log("userinfo",this.userinfo);
      console.log("opcmenu",this.opcmenu);
      console.log("agencias",this.agencias);
      console.log("data",this.data);
      console.log("regions",this.regions);
      console.log("campañas",this.campanias);
      console.log("opcresultcontacto",this.opcresultcontacto);*/


    },
    computed: {

    },

    methods: {
      refreshData:function(){
        console.log("refresData");
        this.cargarData();
      },
      cargarData:function(){
        this.cargaCompleta = false;
        $.ajax({
          url: url+"?v=apigerenteregional",
          type: "GET",
          dataType: "jsonp",
          crossDomain: true,
          jsonpCallback: "on_result",
          context: this,
          success: function() {

            var response = arguments[0];
            this.agencias = response.agencia;
            this.data = response.data;
            this.campanias = response.campanias;
            this.opcresultcontacto = response.opcresultcontacto;
            this.regions = response.region;

            /*console.log("agencias",this.agencias);
            console.log("data",this.data);
            console.log("regions",this.regions);
            console.log("campañas",this.campanias);
            console.log("opcresultcontacto",this.opcresultcontacto);*/
            var data_total = this.dataTotal();
            this.dataFull = data_total;
            this.dataFullBk =data_total;
            //console.log("dataFull",this.dataFull);
            //this.regionsSearch = _.uniqBy(this.dataFullBk, 'REGION');
            this.graficoAvance2();
            this.graficoEmbudoComercial();
            this.rankingAgenciaTop();
            this.graficoAvanceOpc();
            this.cargaCompleta = true;
            //return console.log(arguments);
          },
          error: function(err) {
            alert("Se presentó un problema, actualize la página dentro de 1 min. Si el error persiste comuníquese con el área de sistemas");
            console.error(arguments);
          }
        })
      },

      filterAll:function(){
        this.dataFull = this.dataFullBk;
        this.dataEspecialFiltrada = this.dataNormalBk;
        this.filterRegionCombo();
        this.filterCampanaCombo();
        this.filterAgenciaCombo();
        this.graficoAvance2();
        this.graficoEmbudoComercial();
        this.rankingAgenciaTop();
        this.graficoAvanceOpc();
      },

      filterRegionCombo:function(){
        if(this.regionSelectedSearch !== null ){
          this.dataFull = this.dataFull.filter((e)=>{
            return e.CODREG === this.regionSelectedSearch.CODREG;
          });
        }
      },

      filterAgenciaCombo:function(){
        var values = [];
        this.agenciaSelected.forEach(function(el) {
          values.push(el.CODAGE);
        });
        this.dataFull = values.length > 0 ?  this.filterKeys(['CODAGE'],values,this.dataFull): this.dataFull;
      },

      filterCampanaCombo:function(){
        var values = [];
        this.campaniaSelected.forEach(function(el) {
          values.push(el.ID_CAMPANIA);
        });
        this.dataFull = values.length > 0 ?  this.filterKeys(['ID_CAMP'],values,this.dataFull): this.dataFull;
      },

      dataTotal:function(){
        var arrTotal = [];
        this.data.forEach((e)=>{
          e.forEach((f)=>{
            arrTotal.push(f);
          });
        });
        return arrTotal;
      },

      graficoAvance2:function(){
        //console.log("---------------graficoAvance2--------");
        var groupCamp = _.groupBy(this.dataFull,'CAMPANA');
        var arrSeries = [];
        var arrLegend = [];
        var arrCategorias =[];
        //console.log("campañas data",)
        //console.log("Agrupo por campaña",groupCamp);
        Object.keys(groupCamp).forEach((a)=>{

          arrLegend.push(a);
          var obj = {};
          obj.name = a;
          obj.type = 'bar';
          var arrData = [];
          var groupRegion = _.groupBy(groupCamp[a],'CODREG');
          var arrCategoria = [];
          //console.log("keys:Regiones",Object.keys(groupRegion));
          //console.log("Agrupo por región",groupRegion);
          Object.keys(groupRegion).forEach((b)=>{
            var regionrr = this.regions.filter((e)=>{return e.CODREG === b})[0].REGION;
            //console.log("regionrr",regionrr);
            var clientes = groupRegion[b].length;
            //console.log("clientes",clientes);
            var contatos = _.sumBy(groupRegion[b], function(o) { return o.RULTIMA!==''; });
            //console.log("contatos",contatos);
            var avance = (clientes>0) ? _.round(100*contatos/clientes, 2)  : 0;
            arrData.push(avance);
            arrCategoria.push(regionrr);
            //console.log("regionrrSelect",regionrr);
          });
          obj.data = arrData;
          //this.series.push(obj);
          arrCategorias = arrCategoria;
          //this.category = arrCategoria;
          arrSeries.push(obj);
        });
        //console.log("arrSeries2",arrSeries);
        this.barrasagrupadas = {
          tooltip : {
            trigger: 'axis',
            axisPointer : {
              type : 'shadow'
            },
            formatter: function (params, ticket, callback) {
              var tool= params[0].name + '<br/>';
              params.forEach(function (val,index,array) {
                if (val.value != 0) {
                  tool = tool+val.marker+val.seriesName+": "+comasNumero( val.value)+'<br/> '
                }
              });
              return tool;
            }
          },
          legend: {
            data:arrLegend
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis : [
            {
              type : 'category',
              data : arrCategorias,
              splitArea: {
                show: true
              },
              axisLabel: {
                rotate: rotateEtiqueta(arrCategorias)
              }
            }
          ],
          yAxis : [
            {
              type : 'value',
              axisLabel: {
                formatter: function(value,index) {
                  return nFormatter(value,0);
                }
              }
            }, {
              type : 'value',
              axisLabel: {
                formatter: function(value,index) {
                  return nFormatter(value,0);
                }
              }
            }
          ],
          series : arrSeries
        };
      },
      
      graficoAvanceOpc:function(){

        var arrLegend = [];
        var arrData = [];
        this.opcresultcontacto.forEach((e)=>{
          //console.log("opc",e);
          var contacto = _.sumBy(this.dataFull, (o) => {return o.RULTIMA === e.Resultado_contacto ; });
          var avance =  _.round(100*contacto/this.dataFull.length, 2);
          arrLegend.push(e.Resultado_contacto);
          arrData.push({
            name:e.Resultado_contacto,
            value:avance
          })
        });
        //console.log("arrData",arrData);
        //console.log("arrLegend",arrLegend);

        this.graficoAvanceOpcRespuesta = {
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c} ({d}%)'
          },
          legend: {
            orient: 'vertical',
            left: 'left',
            data: arrLegend
          },
          series: [
            {
              label: {
                normal: {
                  formatter: '{d}%',
                  position: 'inside'
                }
              },
              type: 'pie',
              //radius: '65%',
              //center: ['50%', '50%'],
              selectedMode: 'single',
              data: arrData
            }
          ]
        };
      },

      rankingAgenciaTop:function(){
        var agencias =  _.groupBy(this.dataFull,'CODAGE');
        var arrAvance = [];
        //console.log("agenciaSSS",agencias);
        Object.keys(agencias).forEach((a)=>{
          var agenciasAD= _.filter(this.agencias, (o) => {return o.CODAGE ===a ; })[0].NOMAGE;
          //console.log("agenciasad",agenciasAD);
          var contacto = _.filter(agencias[a], (o) => {return o.RULTIMA !=='' ; }).length;
          var avance =  _.round(100*contacto/agencias[a].length, 2);
          arrAvance.push({
            agencia:agenciasAD,
            avance: avance,
            cant:agencias[a]
          });
        });
        //console.log("Avance",arrAvance);
        var topAgencias= _.take(_.orderBy(arrAvance,['avance'],['asc']),5);
        //console.log("top 5 malos",topAgencias);
        var arrCategoria = [];
        var arrData = [];
        topAgencias.forEach((b)=>{
          arrCategoria.push(b.agencia);
          arrData.push(b.avance);
        });
        this.graficoAvanceAsesor = {
          tooltip: {
            trigger: 'axis',
            axisPointer: {
              type: 'shadow'
            }
          },
          legend: {
            data: ['Avance%']
          },
          grid: {
            left: '3%',
            right: '4%',
            bottom: '3%',
            containLabel: true
          },
          xAxis: {
            type: 'value',
            boundaryGap: [0, 0.01]
          },
          yAxis: {
            type: 'category',
            data: arrCategoria
          },
          series: [
            {
              name: 'Avance%',
              type: 'bar',
              data: arrData
            }
          ]
        };
      },

      graficoEmbudoComercial:function() {

        var arrLegend = [];
        arrLegend.push('Prospectos');
        arrLegend.push('Contactados');
        arrLegend.push('Interesado');
        arrLegend.push('Por desembolsar');
        arrLegend.push('Desembolsado');
       /* this.opcresultcontacto.forEach((e)=>{
          arrLegend.push(e.Resultado_contacto);
        });*/
        var cant = this.dataFull.length;
        var contactados = _.sumBy(this.dataFull, function(o) { return o.RULTIMA !== ''; });
        var arrData = [];


        arrLegend.forEach((a)=>{
          if(a === 'Prospectos'){
            arrData.push({
              name : a,
              value: 100
            });
          }else if(a === 'Contactados'){
            arrData.push({
              name : a,
              value: (cant>0) ? _.round(100*contactados/cant, 2)  : 0
            });
          }else {
            var porc = _.sumBy(this.dataFull, function(o) { return o.RULTIMA === a; });
            var val = (cant>0) ? _.round(100*porc/cant, 2)  : 0;
            arrData.push({
              name : a,
              value: val
            });
          }
        });


        //console.log("legend",arrLegend);
        //console.log("arrData",arrData);

        //this.identificador="barrasagrupadas";

        this.embudoComercial = {
          tooltip: {
            trigger: 'item',
            formatter: '{b} : {c}%'
          },
          legend: {
            orient: 'horizontal',
            //bottom:'bottom',
            //left: 'left',
            data:arrLegend
          },

          series: [
            {
              type:'funnel',
              left: '10%',
              top: 60,
              //x2: 80,
              bottom: 60,
              width: '80%',
              // height: {totalHeight} - y - y2,
              min: 0,
              max: 100,
              minSize: '0%',
              maxSize: '100%',
              sort: 'none',
              gap: 2,
              label: {
                position: 'inside',
                formatter: '{c}%', //'{b} : {c}%',
                color: '#fff'
              },
              labelLine: {
                length: 10,
                lineStyle: {
                  width: 1,
                  type: 'solid'
                }
              },
              itemStyle: {
                borderColor: '#fff',
                borderWidth: 1
              },
              emphasis: {
                label: {
                  fontSize: 20
                }
              },
              data: arrData
            }
          ]
        };
      },

      groupBy:function(xs, key){
        var obj = [];
        xs.forEach(function (value1) {
          obj.push((value1[key]==undefined?0:value1[key]));
        });
        return obj;
      },

      filterKeys:function(keys,values,data){
        return data.filter(function(e) {
          return keys.every(function(a) {
            return values.includes(e[a])
          })
        })
      },

      redirectMenu:function(opc) {
        var url = opc.HTTP_L + '?v=' + opc.URL;
        window.open(url,'_blank');
        window.open('','_self').close();
        //window.close()
      },

    }
  });
</script>

</body>

</html>
